@import 'theme.scss';
.panel {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow:  0 2px 2px rgba(0,0,0,.24),0 0 2px rgba(0,0,0,.12);
    margin: 0 auto;
    direction: rtl;

    &.column {
        width:480px;
        max-width:100%;
        margin:0 auto;
    }
.header{
    display: flex;
    align-items: center;
    padding: 8px 20px;
    color:$darkGray;
    background: $veryLightGray;
    direction: rtl;
}
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
